

/* Mens */
#slider1 .card1{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/boots-men.jpg");
}
#slider1 .card2{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/shoes-men.jpg");
}
#slider1 .card3{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/bags.jpg");
}
#slider1 .card4{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/packs.jpg");
}


/* Womens */
#slider2 .card1 {
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/boots-women.jpg"); 
}
#slider2 .card2{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/shoes-women.jpg"); 
}
#slider2 .card3{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/bags.jpg"); 
}
#slider2 .card4{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/packs.jpg"); 
}




/* Product Slider Mens */
#slider3 .card1a .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/rf-m.jpg"); 
}
 #slider3 .card1 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/rr.jpg"); 
}
#slider3 .card2 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/345-m.jpg"); 
}
#slider3 .card3 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/315-m.jpg"); 
}
#slider3 .card4 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/rp-m.jpg"); 
}
#slider3 .card5 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/286-.jpg"); 
}
#slider3 .card6 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/thermoshell-m.jpg"); 
}
#slider3 .card7 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/venture-lite-vest.jpg"); 
}
#slider3 .card8 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/ls-m.jpg"); 
}
#slider3 .card9 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/ss-m.jpg"); 
} 


/* Product Slider Womens */
#slider4 .card1a .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/rf-w.jpg"); 
}
#slider4 .card1 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/rr.jpg"); 
}
#slider4 .card2 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/345-w.jpg"); 
}
#slider4 .card3 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/315-w.jpg"); 
}
#slider4 .card4 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/rp-w.jpg"); 
}
#slider4 .card5 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/286-.jpg"); 
}
#slider4 .card6 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/thermoshell-m.jpg"); 
}
#slider4 .card7 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/venture-lite-vest.jpg"); 
}
#slider4 .card8 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/ls-w.jpg"); 
}
#slider4 .card9 .productCard__image{
    background-image: url("https://www.inov-8.com/media/carousel-products/ss-w.jpg"); 
} 




/* Blog */
#slider5 .card1 .blogCard500x400__image{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/blog/blog-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider5 .card2 .blogCard500x400__image{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/blog/blog-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider5 .card3 .blogCard500x400__image{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/blog/blog-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider5 .card4 .blogCard500x400__image{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/blog/blog-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider5 .card5 .blogCard500x400__image{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/blog/blog-5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Get the Kit */
#slider6 .card1{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/getTheKit/gtk-1.jpg");
}
#slider6 .card2{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/getTheKit/gtk-2.jpg");
}
#slider6 .card3{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/getTheKit/gtk-3.jpg");
}
#slider6 .card4{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/getTheKit/gtk-4.jpg");
}
#slider6 .card5{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/getTheKit/gtk-5.jpg");
}



/* Bottom Three */
#slider7 .card1{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/cat-run.jpg");
}
#slider7 .card2{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/cat-gym.jpg");
}
#slider7 .card3{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/cat-clothing.jpg");
}
#slider7 .card4{
    background-image: url("https://www.inov-8.com/media/hike-category/desktop/cat-equipment.jpg");
}


@media only screen and (max-width: 800px) and (min-width: 601px) {
  
/* Mens */
#slider1 .card1{
    background-image: url("https://www.inov-8.com/media/hike-category/tablet/boots-men.jpg");
}
#slider1 .card2{
    background-image: url("https://www.inov-8.com/media/hike-category/tablet/shoes-men.jpg");
}
#slider1 .card3{
    background-image: url("https://www.inov-8.com/media/hike-category/tablet/bags.jpg");
}
#slider1 .card4{
    background-image: url("https://www.inov-8.com/media/hike-category/tablet/packs.jpg");
}

/* Womens */
#slider2 .card1 .productCard__image{
    background-image: url("https://www.inov-8.com/media/hike-category/tablet/boots-women.jpg"); 
}
#slider2 .card2 .productCard__image{
    background-image: url("https://www.inov-8.com/media/hike-category/tablet/shoes-women.jpg"); 
}
#slider2 .card3 .productCard__image{
    background-image: url("https://www.inov-8.com/media/hike-category/tablet/bags.jpg"); 
}
#slider2 .card4 .productCard__image{
    background-image: url("https://www.inov-8.com/media/hike-category/tablet/packs.jpg"); 
}


/* Bottom Three */
#slider7 .card1{
    background-image: url("https://www.inov-8.com/media/hike-category/tablet/cat-run.jpg");
}
#slider7 .card2{
    background-image: url("https://www.inov-8.com/media/hike-category/tablet/cat-gym.jpg");
}
#slider7 .card3{
    background-image: url("https://www.inov-8.com/media/hike-category/tablet/cat-clothing.jpg");
}
#slider7 .card4{
    background-image: url("https://www.inov-8.com/media/hike-category/tablet/cat-equipment.jpg");
}

}


@media only screen and (max-width: 600px) and (min-width: 0px) {
  




/* 
    #slider4 .card1 .blogCard500x400__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-one.jpg");
    }
    #slider4 .card2 .blogCard500x400__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-two.jpg");
    }
    #slider4 .card3 .blogCard500x400__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-three.jpg");
    }
    #slider4 .card4 .blogCard500x400__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-four.jpg");
    }
    #slider4 .card5 .blogCard500x400__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/desktop/blog500x400/blog-five.jpg");
    }
 */


/* Bottom Three */
#slider7 .card1{
    background-image: url("https://www.inov-8.com/media/hike-category/mobile/cat-run.jpg");
}
#slider7 .card2{
    background-image: url("https://www.inov-8.com/media/hike-category/mobile/cat-gym.jpg");
}
#slider7 .card3{
    background-image: url("https://www.inov-8.com/media/hike-category/mobile/cat-clothing.jpg");
}
#slider7 .card4{
    background-image: url("https://www.inov-8.com/media/hike-category/mobile/cat-equipment.jpg");
}



}