.card600x800{
    height: 800px;
    width: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 40px;
    padding: 0px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
.card600x800Height a{
    text-decoration: none;
}
.card600x800__container{
    max-width: 80%;
    margin: 0 auto;
  }
  .card600x800 h2{
    font-size: 60px;
    line-height: 60px;
    margin: 0;
  }

.card600x800Height{
    height: 900px;
}

.card600x800Height .firstChildMargin {
    margin-left: 110px;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .card600x800{
        height: 600px;
        width: 400px;
    }
    .card600x800Height{
        height: 620px;
    }
    .card600x800Height .firstChildMargin {
        margin-left: 30px;
    }
    .card600x800 h2{
        font-size: 40px;
    }
    
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
   
    .card600x800{
        height: 525px;
        width: 300px;
    }
    .card600x800Height{
        height: 580px;
    }
    .card600x800Height .firstChildMargin {
        margin-left: 30px;
    }
    .card600x800 h2{
        font-size: 30px;
    }
}